#graph {
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  padding-right: var(--splitter-size);
}

#graph-controls {
  display: flex;
  position: fixed;
  bottom: 1em;
  left: 1em;
  cursor: default;

  button {
    display: inline-block;
    font-size: 1.8em;
    line-height: 1em;
    width: 1.3em;
    padding: 0;
    margin: 0;
    color: var(--fg);
    background: var(--bg);
    border: solid 1px var(--bg-dim);
    border-radius: var(--rad_sm);
    outline: 0;

    &.selected {
      background-color: var(--highlight);
    }
  }
}

g .stub {
  opacity: 0.6;

  > path {
    stroke-dasharray: 4, 4;
    stroke: #a00;
  }
}

g.node {
  text {
    fill: var(--fg);
  }

  path {
    stroke: var(--fg);
    fill: var(--bg);
  }

  &.collapsed {
    opacity: 0.5;
  }

  &.selected > path {
    stroke-width: 3;
    stroke: var(--highlight);
  }

  &.selected > text {
    font-weight: 600;
  }

  &.warning > path {
    fill: url(#warning);
  }

  * {
    cursor: pointer;
  }
}

g.edge {
  > path { /* stylelint-disable-line no-descending-specificity */
    stroke: var(--fg);
  }

  > polygon {
    stroke: var(--fg);
    fill: var(--fg);
  }

  &.selected {
    > path {
      stroke-width: 2;
      stroke: var(--highlight);
    }

    > polygon {
      stroke: var(--highlight);
      fill: var(--highlight);
    }
  }
}

@media print {
  #graph-controls {
    display: none;
  }
}
