#pane-graph {
  .collapsed {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    padding: .2em .5em;
    background-color: firebrick;
    color: var(--bg0);
    border-radius: var(--rad_lg);
    
    &:before {
      color: transparent;
      content: '\2715';
      display: inline-block;
      margin-right: .5em;
    }
    
    &:hover::before {
      color: var(--bg0)
    }
  }
}