:root {  // Light theme (https://coolors.co/020303-f1f4f4-c8d3a7-e65c00)
  --fg: #111;
  --bg: #eee;
  --fg-dim: #444;
  --bg-dim: #bbb;
  --bg-gradient-color : #fff;
  --bg0: #f1f4f4;
  --bg1: #d6d6d6;
  --highlight: #e65c00;
}

// Override for dark mode (screen only, print always uses light)
@media only screen and (prefers-color-scheme: dark) {
  :root { // Dark theme (https://coolors.co/f1f4f4-606c38-283618-ff761a)
    --fg: #eee;
    --bg: #111;
    --fg-dim: #bbb;
    --bg-dim: #444;
    --bg-gradient-color : #000;
    --bg0: #7e7e7d;
    --bg1: #383838;
    --highlight: #ff761a;
  }
}

:root {
  --rad_sm: 5px;
  --rad_lg: 10px;
  --splitter-size: 2em;
  --inspector-size: 32em;
  --tabs-height: 24pt;
  --bg-gradient:
    linear-gradient(
      to bottom,
      var(--bg-gradient-color),
      transparent 100%
    );
}

html {
  font-family: system-ui, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 10pt;
}

body, select, input {
  background-color: var(--bg);
  color: var(--fg);
}

html,
body {
  margin: 0;
  padding: 0;
}

body.fail {
  /* Image from https://www.redbubble.com/people/JonThomson/shop */
  background: url("/images/fail_giraffe.png") right 50% no-repeat;
  background-color: var(--bg1);
  background-size: 30%;
}

#app {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

p {
  line-height: 1.5em;
}

h2 {
  font-size: 14pt;
  border-radius: var(--rad_sm);
}

.material-icons {
  font-size: inherit;
}
