#drop_target {
  background-color: #ddd;
  border: dashed 2px #888;
  padding: 4em 1em;
  border-radius: var(--rad_sm);
}

#drop_target.drag {
  background-color: #ccf;
  border-color: #68a;
}

#drop_target * { pointer-events: none; }
