:root {
  --rad_sm: 5px;
  --rad_lg: 10px;
}
.theme-lite {
  /* https://coolors.co/020303-f1f4f4-c8d3a7-e65c00 */
  --text: #020303;
  --bg0: #f1f4f4;
  --bg1: #d6d6d6;
  --highlight: #e65c00;
}

.theme-dark {
  /* https://coolors.co/f1f4f4-606c38-283618-ff761a */
  --text: #f3f3f3;
  --bg0: #7e7e7d;
  --bg1: #383838;
  --highlight: #ff761a;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 10pt;
}
html, body {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5em;
}

h2 {
  font-size: 14pt;
  border-radius: var(--rad_sm);
}

body {
  display: flex;
}

.bright-hover {
  transition:.5s;
}
.bright-hover:hover {
  filter: brightness(125%);
  transition:.15s;
}

#graph {
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
  position: relative;
  user-select: none;
}

#splitter {
  display: flex;
  flex-basis: 1em;
  height: 100vh;
  color: var(--text);
  background-color: var(--bg0);
  border-top-left-radius: var(--rad_lg);
  border-bottom-left-radius: var(--rad_lg);
  padding: 0 3px;
  align-items: center;
  cursor: pointer;
}

#inspector {
  flex-basis: 0;

  display: flex;
  flex-direction: column;

  height: 100vh;
  color: var(--text);
  background-color: var(--bg0);
  overflow: hidden;
  transition: flex-basis .5s;
}

#inspector.open {
  flex: 0 0 32em;
}

label {
  display: block;
  margin: .3em 0;
}

summary {
  position: -webkit-sticky;
  font-size: 1.2em;
  font-weight: bold;
  margin: .7em 0 .5em;
  border-top: solid 3px var(--bg1);
  padding: .2em;
  outline: none;
  cursor: pointer;
}

.material-icons {
  font-size: inherit;
}

.flash {
  position: fixed;
  padding: 4px;
  transition-property: left;
  transition-duration: .7s;
  border-radius: var(--rad_sm);
}

@keyframes MOVE-BG {
	from {transform: translateX(-56.57px);} /* sqrt(2) * gradient_width */
	to {transform: translateX(0);}
}

.loader {
  position: absolute;
  top: 33%;
  left: 33%;
  width: 33%;
  z-index: 99;
  overflow: hidden;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
  color: var(--text);
  background-color: var(--bg0);
  border: solid 3px var(--highlight);
  border-radius: 1em;
}

.loader .bg {
  position: absolute;
  z-index: -1;
  width: calc(100% + 57px);
  height: 100%;
  background: repeating-linear-gradient(
    -45deg,
    transparent 0px,
    transparent 20px,
    var(--highlight) 20px,
    var(--highlight) 40px 
  );
	
  animation-name: MOVE-BG;
	animation-duration: 1.6s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#graph-controls {
  display: flex;
  position: fixed;
  bottom: 1em;
  left: 1em;
  cursor: default;
}
#graph-controls button {
  display: inline-block;
  font-size: 1.8em;
  line-height: 1em;
  width: 1.3em;
  padding: 0;
  border: solid 1px black;
  border-radius: var(--rad_sm);
}

.json {font-family: monospace}
.json-object, .json-array {
  list-style: none outside;
  margin: 0;
  padding: 0 0 0 1em;
}
.json-key {color: green;}
.json-string {color: blue}
.json-boolean {color: purple}
.json-number {color:orange}
.json-null {color: gray}

.depInclude  {
  padding-left: 1em;
}

.warning {
  background: repeating-linear-gradient(-45deg,
    rgba(128,128,0,.1),
    rgba(128,128,0,.1) 10px,
    rgba(0, 0, 0, .1) 10px,
    rgba(0, 0, 0, .1) 20px
  );
}

#inspector .tag {
  cursor: pointer;
  background-color: var(--bg1);
  color: var(--text);
  border-radius: var(--rad_lg);
  padding: 2px 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#inspector .tag.maintainer {
  padding: 0;
  height: 32px;
}
#inspector .tag.maintainer img {
  vertical-align: middle;
  margin-right: 4px;
}
#inspector .description {
  font-weight: bold;
}
#inspector .module {
  white-space: nowrap;
}

#tabs {
  flex-basis: auto;
  flex-shrink: 0;
  margin-left: var(--rad_lg);
  display: flex;
  user-select: none;
}
#tabs > * {
  line-height: 24pt;
}
#tabs .tab {
  padding: 0 10px;
  cursor: pointer;
  background-color: var(--bg0);
  border-right: solid 1px #888;
  border-bottom: solid 5px transparent;
  font-size: 12pt;
  font-weight: bold;
}
#tabs .tab.active {
  border-bottom-color: var(--highlight);
}

.pane {
  flex-grow: 1;
  width: 32em;
  padding: .5em 1em;
  color: var(--text);
  background-color: var(--bg0);
  box-sizing: border-box;
  border-radius: var(--rad_lg) 0 0 var(--rad_lg);
  overflow-y: auto;
  overflow-x: hidden;
}

.bundle-item {
  position: absolute;
  display: grid;
  align-content: center;
  box-sizing: border-box;
  cursor: default;
  text-align: center;
  border-radius: var(--rad_sm);
  background-color: var(--bg1);
  overflow: hidden;
}
.bundle-item > span {
  font-weight: bold;
  font-size: 115%;
  color: rgba(0, 0, 0, .5)
}

svg {
  fill: #666;
}
g.node {
  user-select: text;
}
g.node * {
  cursor: pointer;
}
g.node text {
  fill: #444;
}
g.node path {
  stroke: #444;
}
g.node path {
  fill: white;
}
g.node.selected > path {
  stroke-width: 3;
  stroke: var(--highlight);
}
g.node.warning > path {
  fill: url(#warning); 
}
g.node.selected > text {
  fill: black;
  font-weight: bold;
}
g .stub {
  opacity: 0.6;
}
g .stub > path {
  stroke-dasharray: 4,4;
  stroke: #a00;
}

g.edge.selected > path {
  stroke-width: 2;
  stroke: var(--highlight);
}
g.edge.selected > polygon {
  stroke: var(--highlight);
  fill: var(--highlight);
}


#drop_target {
  background-color: #ddd;
  border: dashed 2px #888;
  padding: 1em;
  border-radius: var(--rad_sm);
}
#drop_target.drag {
	background-color: #ccf;
	border-color: #68a;
}

#drop_target * {pointer-events: none;}

footer {
  padding: 0.5em;
  box-sizing: border-box;
  width: 32em;
}

#github {
  padding: .2em 1em;
  margin-left: 1em;
  background: var(--bg1);
  color: #fff;
  text-decoration: none;
  border-radius: var(--rad_sm);
}

@media print {
  #inspector {
    display: none;
  }

  #splitter {
    display: none;
  }

  #graph-controls {
    display: none;
  }
}
