html, input {
  font-family: 'Inter', sans-serif;
  font-size: 10pt;
}
html, body {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 14pt;
  border-radius: 3px;
}

body {
  display: flex;
}

#graph {
  flex-grow: 1;
  border-right: solid 1px black;
}

#splitter {
  flex-basis: 1em;
  background-color: #ccc;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#inspector {
  flex-basis: 0;

  display: flex;
  flex-direction: column;

  height: 100%;
  border-left: solid 1px black;
  background-color: rgba(255,255,255,.85);
  overflow: hidden;
  transition: flex-basis .5s;
}

#inspector.open {
  flex-basis: 32em;
}

label {display: block;}
section > label {margin-top: 1em;}

.material-icons {
  font-size: inherit;
}

.flash {
  position: fixed;
  padding: 4px;
  transition-property: left;
  transition-duration: .7s;
  border-radius: 3px;
}

.loader {
  border-bottom: solid 1px grey;
}
.loader > .inner {
  height:4px;
  background-color: rgb(200, 130, 30);
}

#graph {
  height: 100%;
  overflow: auto;
  position: relative;
}

.graph-controls {
  display: flex;
  position: absolute;
  bottom: .5em;
  right: 1em;
  cursor: default;
}
.graph-controls button {
  display: inline-block;
  font-size: 1.8em;
  line-height: 1em;
  width: 1.3em;
  padding: 0;
  border: solid 1px black;
  border-radius: 3px;
}

.json {font-family: monospace}
.json-object, .json-array {
  list-style: none outside;
  margin: 0;
  padding: 0 0 0 1em;
}
.json-key {color: green;}
.json-string {color: blue}
.json-boolean {color: purple}
.json-number {color:orange}
.json-null {color: gray}

.depInclude  {
  padding-left: 1em;
  font-family: monospace;
}

#inspector .tag {
  cursor: pointer;
  display: inline-block;
  width: 30%;
  white-space: nowrap;
  background-color: #ddd;
  padding: 2px;
  margin: 1px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
}
#inspector .tag:hover {
  background-color: #ddf;
}
#inspector .tag img {
  vertical-align: middle;
  margin-right: 4px;
  border-radius: 3px;
}
#inspector .description {
  font-weight: bold;
}
#inspector .module {
  white-space: nowrap;
}

#tabs {
  flex-basis: auto;
  display: flex;
}
#tabs > * {
  cursor: pointer;
  background-color: #ccc;
  line-height: 24pt;
  padding: 0 10px;
}
#tabs input {
  flex-grow: 1;
  border: none;
}
#tabs .tab {
  border-right: solid 1px #888;
  font-size: 12pt;
  font-weight: bold;
}
#tabs .tab.active {
  background-color: white;
}

.pane, footer {
  box-sizing: border-box;
  width: 32em;
}
.pane {
  flex-grow: 1;
  padding: .5em 1em;
  overflow-y: auto;
  overflow-x: hidden;}

.pane section > h2 {
  cursor: pointer;
  position: relative;
  background-color: #5c6f69;
  color: white;
  padding: .2em;
}

.pane section h2 span {
  position: absolute;
  right: .2em;
}

.stats th {text-align: left; vertical-align: top}
.stats td {text-align: left; vertical-align: top}
.stats .rank {border: solid 1px #ccc; width: 200px}
.stats .rank div {background-color: #ccc; text-align: right}

svg {
  fill: #666;
}
g .node * {
  cursor: pointer;
}
g .node polygon,
g .node path {
  fill: white;
}
g .selected > polygon,
g .selected > path {
  fill: #ddf;
  stroke-width: 3;
  stroke: #33c;
}
g .stub > polygon,
g .stub > path {
  stroke-dasharray: 4,4;
  stroke: #666;
}

#drop_target {
  background-color: #ddd;
  border: dashed 2px #888;
  padding: 1em;
  border-radius: 5px;
}
#drop_target.drag {
	background-color: #ccf;
	border-color: #68a;
}

#drop_target * {pointer-events: none;}

footer {
  border-top: solid 1px black;
  padding: 0.5em;
}

#github {
  background:#084;
  color:#fff;
  text-decoration:none;
  transition:0.3s;
  border-radius: 4px;
  padding: .2em 1em;
  margin-left: 1em;
}
#github:hover {
  background: #066;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media print {
  #inspector {
    display: none;
  }

  #splitter {
    display: none;
  }

  .graph-controls {
    display: none;
  }
}
