html, input {
  font-family: 'Inter', sans-serif;
  font-size: 10pt;
}
html, body {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 16pt;
  border-radius: 3px;
}
h2 {
  font-size: 14pt;
  border-radius: 3px;
}

dt {
  font-weight: bold;
  margin-top: .5em;
}
dd {
  margin: 0;
}

label {display: block;}

.material-icons {
  font-size: inherit;
}

.flash {
  position: fixed;
  padding: 4px;
  transition-property: left;
  transition-duration: .7s;
  border-radius: 3px;
}

#progress {
  position:fixed;
  top: 35%;
  left: 2em;
  right: 4em;
  height: 1.5em;
  line-height: 1.5em;
  border: solid 1px grey;
}
body.open #progress {right: 34em;}
#progress_inner {
  position:absolute;
  white-space: nowrap;
  overflow: hidden;
  top: 0;
  height:100%;
  background-color: rgb(200, 130, 30);
  left: 0;
}

#graph {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 2em;
  overflow: auto;
  transition: right .3s ease-out;
}

#graph-controls {
  position: absolute;
  bottom: .5em;
  right: 3em;
}
#graph-controls button {
  display: inline-block;
  font-size: 1.8em;
  line-height: 1em;
  width: 1.3em;
  padding: 0;
  border: solid 1px black;
  border-radius: 3px;
}
body.open #graph-controls {
  right: 31em;
}

body.open #graph {
  right: 30em;
}
#inspector {
  position: fixed;
  top: 0;
  right: -28em;
  bottom: 0;
  border-left: solid 1px black;
  background-color: rgba(255,255,255,.85);
  width: 30em;
  transition: right .3s ease-out;
  overflow: hidden;
}
body.open #inspector {
  right: 0;
  bottom: 0;
  overflow: auto;
}
#inspector .tag {
  cursor: pointer;
  display: inline-block;
  width: 30%;
  white-space: nowrap;
  background-color: #ddd;
  padding: 2px;
  margin: 1px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
}
#inspector .tag:hover {
  background-color: #ddf;
}
#inspector .tag img {
  vertical-align: middle;
  margin-right: 4px;
  border-radius: 3px;
}
#inspector .description {
  font-weight: bold;
}
#inspector .module {
  white-space: nowrap;
}
#inspector #tabs {
  z-index: 1;
  position: fixed;
  width: 100%;
  white-space: nowrap;
  background-color: #888;
  font-size: 0;
}
#inspector #tabs input {
  border: none;
}
#inspector #tabs > * {
  display: inline-block;
  cursor: pointer;
  font-size: 12pt;
  font-weight: bold;
  background-color: #ccc;
  line-height: 24pt;
  padding: 0 10px;
}
#inspector #tabs .button {
  display: inline-block;
  text-align: center;
  border: none;
  border-right: solid 1px #888;
  background-color: #ccc;
}
#inspector #tabs .button.active {
  background-color: white;
}
.pane {
  position: absolute;
  top: 24px;
  bottom: 0;
  left: .5em;
  right: .5em;
  display: none;
  padding: .3em 0;
  padding-right: 0;
}

.pane.open {
  display: block;
}

#inspector .pane section > h2 {
  cursor: pointer;
  position: relative;
  background-color: #5c6f69;
  color: white;
  padding: .2em;
}
#inspector .pane section.closed > :not(h2) {
  display: none;
}

.pane section h2 span {
  position: absolute;
  right: .2em;
}
.pane section h2 span:before {
  content: "expand_less"
}
.pane section.closed h2 span:before {
  content: "expand_more"
}

.stats th {text-align: left; vertical-align: top}
.stats td {text-align: left; vertical-align: top}
.stats .rank {border: solid 1px #ccc; width: 200px}
.stats .rank div {background-color: #ccc; text-align: right}

.loader {
  border: solid 1px gray;
  border-radius: 4px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(11em - 20px);
  padding: 4px;
  margin: 4px;
}
.loader span {
    border: 4px solid #ccc;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    float: left;
    margin-right: 4px;
}
.loader.active span {
    border-top-color: #090;
    animation: spin 2s linear infinite;
}
.loader.success span {
  border-color: #090;
}
.loader.error span {
  border-color: #900;
}

svg {
  fill: #666;
}
g .node * {
  cursor: pointer;
}
g .node polygon,
g .node path {
  fill: white;
}
g .selected > polygon,
g .selected > path {
  fill: #ddf;
  stroke-width: 3;
  stroke: #33c;
}
g .stub > polygon,
g .stub > path {
  stroke-dasharray: 4,4;
  stroke: #666;
}

#drop_target {
  background-color: #ddd;
  border: dashed 2px #888;
  padding: 1em;
  border-radius: 5px;
}
#drop_target.drag {
	background-color: #ccf;
	border-color: #68a;
}

#drop_target * {pointer-events: none;}

#info-footer {
  position: absolute;
  bottom: 1em;
  width: 100%;
  border-top: solid 1px black;
  padding-top: 1em;
}

#github {
  background:#084;
  color:#fff;
  font-weight:bold;
  text-align:center;
  text-decoration:none;
  transition:0.5s;
  border-radius: 4px;
  padding: .2em .4em;
  margin-left: 1em;
}
#github:hover {
  background: #066;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media print {
  #inspector {
    display: none;
  }

  body #graph {
    overflow: visible;
  }

  body.open #graph {
    right: 0;
  }

  #graph-controls {
    display: none;
  }
}
