.input {
  display: block;
  box-sizing: border-box;
  margin-block: 0.6em;
  outline: none;
  border: solid 1px var(--text-dim);
  border-radius: 1em;
  padding: 0.3em 0.7em;
  width: 100%;
  font: inherit;
  font-size: 16px; // It must be at least 16px to avoid iOS zooming in on focus

  &:focus {
    border-color: var(--accent);
  }
}

.queryError {
  margin-top: 2px;
  padding: 0.3em 1em;
  color: var(--accent);
  font-weight: bold;
  font-size: 0.8em;
}
