#search-field {
  outline: none;
  border: solid 1px var(--text-dim);
  border-radius: 15px;
  padding: 0.3em 0.7em;
  font: inherit;
  line-height: 1em;

  &:focus {
    border-color: var(--accent);
  }
}

.tip {
  border-radius: 0.5em;
  padding: 0.5em;
  color: var(--text-dim);
  font-style: italic;
  font-size: 0.85em;
  line-height: 1.5em;
}
