.root {
  cursor: default;

  :global {
    summary {
      position: sticky;
      top: 0;
      background-color: var(--bg0);
      color: var(--highlight);
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.5rem;

      & span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5rem;
        width: 1em;
        color: var(--stroke-yellow);
        font-size: 1.3rem;
        text-align: left;
      }
    }

    summary::marker {
      display: none;
      color: blue;
      font-size: 0;
    }
  }
}
