#pane-graph {
  .collapsed {
    opacity: 0.5;
  }
}

#colorize-ui {
  margin-top: 1em;
  border-top: solid 1px var(--bg1);
  padding-top: 1em;
}

#colorize-ui select {
  margin-left: 0.5em;
}

#colorize-key {
  margin-top: 1rem;
}

#report-section {
  // Hide empty sections
  h3:has(+ h3),
  h3:last-child {
    display: none;
  }
}
