.paneGraph {
  .collapsed {
    opacity: 0.5;
  }
}

// Hide empty sections
.reportSection hr:nth-last-child(2),
.reportSection h3:nth-last-child(1) {
  display: none;
}

.collapseInfo {
  margin-top: 1em;
  color: var(--text-dim);
  font-size: 90%;
}
