.root {
  display: flex;
  box-shadow: 2px 2px 6px var(--bg0-shadow-color);
}

.zoomFitWidth {
  border-top-left-radius: var(--rad-sm);
  border-bottom-left-radius: var(--rad-sm);
  padding-left: calc(var(--padding) + 1px);
}

.zoomFitHeight {
  border-top-right-radius: var(--rad-sm);
  border-bottom-right-radius: var(--rad-sm);
  padding-right: calc(var(--padding) + 1px);
}
