@use '../../lib/root.module.scss' as *;

.graph {
  position: relative;
  flex: 1;
  min-width: 0;
  overflow: auto;
  user-select: none;
  -webkit-user-select: none;

  --warning0: #f6f6e0;
  --warning1: #d9d9d9;
  --stub: #f00;
  display: flex;

  &.graphvizLoading,
  &.graphvizFailed {
    margin-top: 20vh;
    text-align: center;
  }
  &.graphvizFailed {
    color: var(--stroke-red);
  }

  @include tight-screen {
    min-height: 80vh;
  }
}

@media (prefers-color-scheme: dark) {
  .graph {
    --warning0: #101010;
    --warning1: #660;
  }
}

.graphControls {
  display: flex;
  position: absolute;
  gap: 1em;
  z-index: 1;
  inset: auto auto 1em 1em;
  --padding: 6px;

  @include tight-screen {
    inset: 1em 1em auto auto;
  }

  button {
    display: inline-block;
    border: solid 1px var(--bg1);
    background: var(--bg0);
    padding: var(--padding);
    color: var(--text);

    svg {
      display: block;
    }

    &.selected {
      background-color: var(--accent);
      color: var(--text-on-accent);
    }
  }

  @media print {
    display: none;
  }
}

:global {
  svg.graph-diagram {
    fill: var(--text);
    margin: auto;
    min-width: fit-content;
  }

  pattern#warning {
    .line0 {
      stroke: var(--warning0);
    }
    .line1 {
      stroke: var(--warning1);
    }
  }

  g .stub {
    opacity: 0.6;

    > path {
      stroke: var(--stub);
      stroke-dasharray: 4, 4;
    }
  }

  g.node {
    text {
      fill: var(--text);
    }

    path {
      fill: var(--bg0);
      stroke: var(--text);
    }

    &.collapsed {
      opacity: 0.5;
    }

    &.selected {
      path {
        stroke: var(--accent) !important;
        stroke-width: 3;
      }
    }

    &.downstream {
      path {
        stroke: var(--accent);
      }
    }

    &.unselected {
      opacity: 0.35;
    }

    &.warning > path {
      fill: url(#warning);
    }

    * {
      cursor: pointer;
    }
  }

  g.edge {
    --selected-edge-width: 1;

    > path {
      // stylelint-disable-line no-descending-specificity
      stroke: var(--text);
    }

    > polygon {
      fill: var(--text);
      stroke: var(--text);
    }

    &.downstream {
      & > path {
        stroke: var(--accent);
        stroke-width: var(--selected-edge-width);
      }

      & > polygon {
        fill: var(--accent);
        stroke: var(--accent);
      }
    }

    &.unselected {
      opacity: 0.35;
    }
  }
}

.dBlock {
  display: block !important;
}
