.root {
  display: flex;
  box-shadow: 2px 2px 6px var(--bg0-shadow-color);

  button {
    font-size: 1em;
    &:not(:first-child) {
      border-left: none;
    }
    &:first-child {
      border-radius: var(--rad-sm) 0 0 var(--rad-sm);
    }
    &:last-child {
      border-radius: 0 var(--rad-sm) var(--rad-sm) 0;
    }
  }
}
