:global {

.icon {
  display: inline-block;
}
.icon-path-stroke {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

.icon-path-fill {
  fill: currentColor;
  stroke: none;
}

.icon-sponsor {
  stroke: var(--bg-violet);
}

a .icon {
  vertical-align: middle;
}

button .icon {
  vertical-align: baseline;
}

} // end :global
