@use '../lib/root.module.scss' as *;

.inspector {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  width: var(--inspector-size);
  overflow: auto;
  color: var(--text);

  ul {
    margin-top: 0;
    padding-inline-start: 1em;
  }

  @include tight-screen {
    flex-grow: 1;
  }

  @media print {
    display: none;
  }
}
