.inspector {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  width: var(--inspector-size);
  overflow: auto;
  color: var(--text);

  :global(.description) {
    font-weight: 600;
  }

  :global(.module) {
    white-space: nowrap;
  }

  :global(.tag) {
    cursor: pointer;
    border-radius: var(--rad-lg);
    background-color: var(--bg1);
    padding: 2px 8px;
    overflow: hidden;
    color: var(--text);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :global(.tag.maintainer) {
    padding: 0;
    height: 32px;

    img {
      vertical-align: middle;
      margin-right: 4px;
    }
  }

  ul {
    margin-top: 0;
    padding-inline-start: 1em;
  }

  @media print {
    display: none;
  }
}
