.share-button {
  display: flex;
  flex-grow: 1;
  justify-content: right;
  align-items: center;

  & button {
    border: solid 1px var(--bg1);
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin-right: 2px;
    border-radius: 4px;
    outline: none;
    padding: 0.2em;
  }

  & > span {
    vertical-align: middle;
  }
}
