@use '../lib/root.scss' as *;

#splitter {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-radius var(--transition-duration);
  cursor: default;
  border-right: none;
  background: var(--tabs-bg) var(--bg-gradient);
  padding: 0 10px;
  color: var(--tabs-text);
  user-select: none;
  &[hidden] {
    // Hide it but keep its place
    display: block !important;
    visibility: hidden;
  }

  @include tight-screen {
    display: none;
  }
}
