@use '../lib/root.scss' as *;

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-radius var(--transition-duration);
  cursor: default;
  margin-right: calc(-1 * var(--header-padding));
  border-right: none;
  background: var(--tabs-bg) var(--bg-gradient);
  padding: 0 10px;
  color: var(--tabs-text);
  user-select: none;
  &[aria-hidden='true'] {
    // Hide it but keep its place
    visibility: hidden;
  }

  @include tight-screen {
    display: none !important;
  }
}
