.tab {
  position: relative;
  cursor: pointer;
  border-left: solid 1px #888;
  background: var(--tabs-bg) var(--bg-gradient);
  padding: 0 10px;
  font-weight: 600;
  font-size: 12pt;

  &.active {
    border-color: transparent;
    background: var(--highlight);
  }

  & .badge {
    display: inline-block;
    position: absolute;
    top: 0;
    right: -0.5rem;
    border-radius: 0.5rem;
    background-color: var(--bg-darkred);
    padding: 0.2rem;
    min-width: 0.7rem;
    min-height: 0.7rem;
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
}
