.bright-hover {
  transition: filter 0.5s;

  &:hover {
    filter: brightness(125%);
    transition-duration: 0.15s;
  }
}

.warning {
  background: repeating-linear-gradient(
    -45deg,
    rgba(128, 128, 0, 0.1),
    rgba(128, 128, 0, 0.1) 10px,
    rgba(0, 0, 0, 0.1) 10px,
    rgba(0, 0, 0, 0.1) 20px
  );
}

#splitter {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
  background: var(--tabs-bg) var(--bg-gradient);
  width: var(--splitter-size);
  height: 24pt;
  color: var(--tabs-text);
  user-select: none;
  text-align: center;
  #inspector:not(.open) & {
    border-top-left-radius: var(--rad_lg);
    border-bottom-left-radius: var(--rad_lg);
  }
}

@media print {
  #inspector {
    display: none;
  }

  #splitter {
    display: none;
  }
}
