@use '../../lib/root.module.scss' as *;

.root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100svh;
}

.stickyTop {
  flex-shrink: 0;

  .mobileTabs {
    display: none;
    @include tight-screen {
      display: flex;
      justify-content: stretch;
    }
  }
}

.content {
  display: flex;
  position: relative;
  flex-grow: 1;
  min-height: 0;
}

@include tight-screen {
  html,
  body,
  .root {
    height: auto;
    min-height: 100svh;
  }
  .root {
    --inspector-size: auto;
  }
  .stickyTop {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .content {
    flex-direction: column;
  }
}
