.root {
  --selectable: #840;
  border: 0;
  background: none;
  padding: 0;
  color: var(--selectable);
  font: inherit;
  text-wrap: nowrap;

  @media (prefers-color-scheme: dark) {
    --selectable: #fc9;
  }
}
