@use '../../lib/root.module.scss' as *;

.root {
  @include button-reset;
  --selectable: #840;
  color: var(--selectable);
  text-wrap: nowrap;

  @media (prefers-color-scheme: dark) {
    --selectable: #fc9;
  }
}
