.root {
  all: unset;
  --selectable: #840;
  cursor: pointer;
  color: var(--selectable);
  text-wrap: nowrap;

  @media (prefers-color-scheme: dark) {
    --selectable: #fc9;
  }

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
}
