.colorizeUi {
  display: flex;
  align-items: baseline;

  select {
    margin-left: 0.5em;
    border: solid 0.1rem var(--bg1);
    border-radius: 0.3rem;
    padding: 0.3rem;
  }
}

.colorizeKey {
  margin-top: 1rem;
}
