.details > * {
  padding-right: 1rem;
  padding-left: 1rem;
}

.zebraRow:nth-child(even) {
  background-color: rgba(127, 127, 127, 0.05);
}

.symbol {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  width: 1rem;
  font-size: 1.3rem;
  text-align: left;

  &.info {
    color: green;
  }
  &.warn {
    color: var(--stroke-yellow);
  }
  &.error {
    color: green;
  }
}

.description {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  color: rgba(127, 127, 127, 0.85);
  font-size: 0.9rem;
  line-height: 1.3rem;
}
