.stubError {
  color: var(--stroke-orange);
}

.warning {
  background: repeating-linear-gradient(
    -45deg,
    rgba(128, 128, 0, 0.1),
    rgba(128, 128, 0, 0.1) 10px,
    rgba(0, 0, 0, 0.1) 10px,
    rgba(0, 0, 0, 0.1) 20px
  );
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moduleHeader {
  display: flex;
  justify-content: space-between;
}

.deprecatedBox {
  border-radius: 0.5em;
  padding: 0.5em;
}

.deprecatedTitle {
  margin-top: 0;
  color: darkred;
}

.sizeGrid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 1em;
}

.linkGroup {
  display: flex;
  align-items: center;
  > * {
    display: flex;
    align-items: center;
    gap: 0.2em;
    margin: 0;
    border: solid 1px var(--bg1);
    background: var(--bg0);
    padding: 0 0.5em;
    color: var(--text);
    line-height: 2;
    text-decoration: none;
    &:not(:first-child) {
      border-left: none;
    }
    &:first-child {
      border-radius: var(--rad-sm) 0 0 var(--rad-sm);
    }

    &:last-child {
      border-radius: 0 var(--rad-sm) var(--rad-sm) 0;
    }
  }
}
