.label {
  margin-right: 1rem;
}

.bar {
  border: 1px solid rgb(204, 204, 204);
  border-radius: var(--rad-sm);
  width: 200px;

  & > .inner {
    border-radius: var(--rad-sm) 0 0 var(--rad-sm);
    color: var(--text);
    text-align: right;
  }
}
