.root {
  display: grid;
  position: absolute;
  align-content: center;
  justify-content: center;
  cursor: default;
  box-sizing: border-box;
  border-radius: var(--rad-sm);
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  & > span {
    opacity: 0.6;
    overflow: hidden;
    font-weight: bold;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
