.bundle-item {
  display: grid;
  position: absolute;
  align-content: center;
  cursor: default;
  box-sizing: border-box;
  border-radius: var(--rad_sm);
  background-color: var(--bg1);
  overflow: hidden;
  text-align: center;
}

.bundle-item > span {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 115%;
}

.score-bar,
#treemap {
  color: black;
}

.stub-error {
  color: var(--stroke-orange);
}
