.root {
  border: solid 1px var(--grey50);
  border-radius: var(--rad-sm);
  background-color: var(--root-color);

  width: 100%;
  height: 8rem;
}

.legend {
  display: flex;
  justify-content: space-between;
  margin-block-start: 0.5rem;

  & .dotKey {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 0.7em;
    height: 0.7em;
  }
  .dotKeyMajor {
    border: solid 1px var(--grey20);
    background-color: var(--root-color);
    width: 1em;
    height: 1em;
  }
  .dotKeyMinor {
    background-color: var(--bg-orange);
    width: 0.8em;
    height: 0.8em;
  }
  .dotKeyPatch {
    background-color: var(--bg-green);
  }
  .dotKeyPrerelease {
    background-color: var(--bg-blue);
  }
}

svg {
  cursor: default;

  .dot > text {
    fill: var(--text);
  }

  > .layer-grid {
    stroke: var(--grey60);
  }

  .layer-major {
    circle {
      stroke: var(--grey20);
      stroke-width: 0.1em;
      fill: var(--grey100);
    }
    text {
      fill: var(--text);
    }
  }

  .layer-minor {
    fill: var(--bg-orange);
  }
  .layer-patch {
    fill: var(--bg-green);
  }
  .layer-prerelease {
    fill: var(--bg-blue);
  }
}

.xAxis {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
