.root {
  display: flex;
  line-height: 1.5rem;
}

.maintainer {
  flex: 0 0 13ch;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modules {
  display: flex;
  flex-direction: column;
  min-width: 0;

  font-size: 0.9rem;
  font-family: monospace;

  :global {
    .selectable {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
