#commit-list {
  margin-left: 1rem;
}

.commit-item {
  opacity: 0.7;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  position: relative;

  .new-dot {
    position: absolute;
    top: 0.5rem;
    left: -1rem;
    border-radius: 0.5rem;
    background-color: var(--bg-red);
    width: .5rem;
    height: .5rem;
  }

  &.cc {
    opacity: 1;
  }

  &.cc .message {
    font-weight: bold;
  }

  & .when {
    opacity: 0.7;
  }

  & .info {
    text-align: right;
    white-space: nowrap;
  }

  & .cc-pill {
    display: inline-block;
    margin: 0 0.3rem;
    border: solid 1px rgba(127, 127, 127, 0.5);
    border-radius: 0.5rem;
    background-color: var(--bg1);
    padding: 0.15rem;
    min-width: 2rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
    text-align: center;

    &.cc-fix {
      background-color: var(--bg-yellow);
    }
    &.cc-feat {
      background-color: var(--bg-green);
    }
  }
}
