#commit-list {
  margin-top: 2rem;
  border: solid 1px var(--bg1);
  border-width: 1px 0px;
  border-radius: 1rem;
  padding: 1.5rem;
  padding-top: 1rem;

  #commit-list-header {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.15rem;
  }
}

.commit-item {
  position: relative;
  opacity: 0.5;
  margin-bottom: 1rem;
  max-width: 100%;
  line-height: 1.5rem;

  .commit-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .message {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.cc .message {
    opacity: 0.6;
    font-weight: bold;
  }

  .new-dot {
    position: absolute;
    top: 0.5rem;
    left: -1rem;

    border-radius: 0.5rem;
    background-color: var(--bg-darkred);
    width: 0.5rem;
    height: 0.5rem;
  }

  &.cc {
    opacity: 1;
  }

  & .when {
    opacity: 0.7;
  }

  & .info {
    text-align: right;
    white-space: nowrap;
  }

  & .cc-pill {
    border: solid 1px rgba(127, 127, 127, 0.5);
    border-radius: 1rem;
    background-color: var(--bg1);
    padding: 0.1rem 0.5rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
    text-align: center;

    &.cc-fix {
      background-color: var(--bg-yellow);
    }
    &.cc-refactor {
      background-color: var(--bg-blue);
    }
    &.cc-feat {
      background-color: var(--bg-green);
    }
    &.cc-docs {
      background-color: var(--bg-indigo);
    }
  }
}
