.pane a.github-sponsor {
  display: inline-block;

  margin-block: 1rem;

  border: solid 1px var(--bg1);
  border-radius: 0.375rem;
  background-color: var(--bg2);
  padding: 0.5rem;
  color: var(--text);
  text-align: center;
  text-decoration: none;

  .icon {
    margin-right: 0.5rem;
    color: var(--stroke-violet);
  }
}
